<ion-view title="About">

    <ion-content scroll="false" padding="false" class="has-header content">

        <div class="card">
            <div class="item item-divider">
                <div class="text-center">
                    timjs Chat
                </div>
            </div>

            <div class="item item-text-wrap">
                <p>Example real-time Chat app using Ionic Framework and Firebase.</p>
                <p>Presented at timjs #10</p>
                <p>Timisoara, RO  /  July 2, 2014</p>

            </div>

            <div class="item item-text-wrap">
                <div>
                    <p>This app was built in ~4 hours!</p>
                    <p>by @rcugut / codenapse.com</p>
                    <p>Code was used from the original app created by @tatonlto, @maxlynch and @abeisgreat</p>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>
