<ion-view title="Settings">

    <ion-nav-buttons side="right">
        <button class="button button-icon ion-checkmark" ng-click="setUsername()"></button>
    </ion-nav-buttons>




    <ion-content scroll="false" padding="false" class="has-header content">



        <form ng-submit="setUsername()">
            <div class="card">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="data.username">
                </label>

                <!--<div class="item">-->
                <!--<button type="submit" class="button button-block button-positive">Set username</button>-->
                <!--</div>-->
            </div>
        </form>


    </ion-content>

</ion-view>
